*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #414242;
  background-color: transparent;
  position: relative;
  margin: 0;
  text-align: left;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration: none !important;
}
svg {
  overflow: hidden;
}
svg,
img {
    vertical-align: middle;
}

.container {
    min-height: 859px;
    width: 100%;
    background: rgb(7, 72, 211) none repeat scroll 0% 0%;
    padding-bottom: 20px;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
.pl-4 {
    padding-left: 1.5rem !important;
}
/* navigation Section*/
.navigation {
  width: 100%;
  background: rgb(7, 72, 211) none repeat scroll 0% 0%;
  padding: 11.5px 20px 15px;
}

.nav-top {
  /* display: flex; */
  display: none;
  justify-content: flex-end;
  padding-right: 30px;
  color: rgb(255, 255, 255);
}

.nav-top p {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  margin-left: 55px;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.nav-top p a {
  color: inherit;
}

.linethrough {
  display: none;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navigation-pane {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  flex-wrap: wrap;
  backgroud: rgb(7, 72, 211) none repeat scroll 0% 0%;
}

.svg-container {
  display: block;
  cursor: pointer;
}

svg {
  overflow: hidden;
}

.navigation-links {
  display: none;
}
.navigation-right {
  display: none;
}
.nav-btn {
  cursor: pointer;
  display: block;
  stroke: rgb(255, 255, 255) !important;
}

@media screen and (min-width: 768px) {
  .nav-top {
    display: flex;
  }
  .navigation-links {
    display: block;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .linethrough {
    display: block;
  }
  .link {
    padding-top: 1.7em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 70px;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.02em;
  }
  .link:not(:first-child) {
    margin-left: 70px;
  }
  .link:hover {
    font-weight: bold;
    color: rgba(255, 255, 255);
    border-bottom: 2px solid rgba(255, 255, 255);
  }
  .navigation-right {
    display: flex;
    align-items: center;
  }

  .sign-in {
    width: 127px;
    height: 43px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
  }

  .sign-in:hover {
    background: rgba(255, 255, 255);
    color: rgb(24, 76, 203);
  }

  .get-started {
      width: 127px;
      height: 43px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
  }
  .get-started:hover {
    border: none;
    background: rgba(255, 255, 255);
    color: rgb(24, 76, 203);
  }
  .nav-btn {
    display: none;
  }
}

/* Aside Section */
//toggling sidebar 
.show-sidebar {
    display: none;
    background-color: red;
}
.sidebar {
  display: none;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  /* animation: parent;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; */
  transition:all 0.3s linear;
}

.sidebar .sidebar-right {
  width: 80%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 100vh;
  background-color: white;
  animation-name: sidemenubar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.sidebar .sidebar-right .sidebar-logo-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-logo {
  display: block;
  cursor: pointer;
}
.sidebar-close {
  cursor: pointer;
  stroke: rgb(6, 68, 204) !important;
}
.sidebar .sidebar-right .sidebar-list {
  padding-top: 2rem;
}
.sidebar-list .sidebar-dropdown-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none !important;
  color: black !important;
  font-size: 19px; !important;
  cursor: pointer;
}
.sidebar-list-svg {
    cursor : pointer;
    opacity: 0.3;
    margin-right:0.3rem;
    stroke: rgb(0,0,0) !important;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size:75%;
    font-weight: 500;
    line-height:1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius:0.25rem;
}
.badge-success {
    color:#fff;
    background: #34c38f;
}
.sidebar-button {
    width:232px;
    height:50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size:17px;
    line-height:25px;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-left:0px;
    cursor: pointer;
}
.sidebar-button-signIn {
    color: rgb(7,72, 211);
    border: 1px solid rgb(7,72, 211) !important;
    margin-top: 20px;
}
.sidebar-button-signIn:hover {
    opacity: 0.8;
}
.sidebar-button-works {
    color: rgb(255,255, 255);
    margin-top:15px;
    background-color:rgb(7,72, 211) !important;
}
.sidebar-button-works:hover {
    opacity: 0.8;
}
@media screen and (min-width: 768px) {
    .sidebar {
      display: none;
    }
/* Hero Section  */
.hero-section {
  padding: 0px 0px 60px 104px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  overflow: hidden;
}
.hero-details {
  width: 40%;
  margin-top: 15px;
}
.hero-image {
  width: 773;
  height: 498px;
  position: relative;
  margin-left: 10px;
  max-width: 55%;
}
